<!-- Everything in here will be passed through as 'body' to our boilerplate -->
<% layout('layouts/boilerplate') %>

<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add campground</a>
</div>
<ul>
    <!-- loop through each campground within campgrounds we passed through from app.js -->
    <% for(let campground of campgrounds){%>
    <li>
        <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
    </li>
    <% } %>
</ul>
