<!-- Everything in here will be passed through as 'body' to our boilerplate -->
<% layout('layouts/boilerplate') %>
<form action="/campgrounds" method="POST">
    <!-- If we have multiple 'campground[title] / campground[locations]' etc. -->
    <!-- when our data is sent to the server, everything in the req.body will -->
    <!-- be stored under 'campground' -->
    <label for="title">Title</label>
    <input type="text" name="campground[title]" id="title" />

    <label for="location">Location</label>
    <input type="text" name="campground[location]" id="location" />

    <button>Add campground</button>
    <a href="/campgrounds">All campgrounds</a>
</form>
